<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div>
              <h1><i class="fas fa-sign-in-alt">&nbsp;&nbsp;</i>Login</h1>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div padding>
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input clearInput type="password" formControlName="pass"></ion-input>
                </ion-item>
              </div>

              <div>
                <ion-button type="submit" routerLink="/home" size="small" expand="block">Login</ion-button>
              </div>
            </form>
            <br>
            <div>
              <div align="center" align-self-center>
                <p>Don't have an account?</p>
                <a routerLink="/register">Sign up now!</a>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>