<ion-header>
  <ion-toolbar>
    <ion-title>{{station.name}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="light" padding>


  <ion-fab vertical="top" horizontal="start" slot="fixed" routerLink="/home/data">
    <ion-fab-button>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <ion-card id="id" vertical="bottom">
    <ion-img id="pic" [src]="station.favicon">
    </ion-img>
    <ion-card-header>
      <ion-card-title color="light">{{station.name}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Website : {{station.homepage}}</p>
      <p>Country {{station.country }}</p>
       <ion-button *ngIf="!isFav; else unfav" (click)="favourite()" color="primary">Add to favourite</ion-button>

      <ng-template #unfav>
        <ion-button (click)="unfavourite()" color="primary">Delete favourite</ion-button>
      </ng-template>

      <ion-icon *ngIf="isFav; else notfav" name="star"></ion-icon>
      <ng-template #notfav>
          <ion-icon name="star-half"></ion-icon>
      </ng-template>
      
    </ion-card-content>
  </ion-card>
 
</ion-content>